body {
	background: url(background.png);
}

.flex-container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.test1 {
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.test2 {
	clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
	margin-left: -140px;
}

.test3 {
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	left: -300px;
	margin-left: -140px;
}

p {
	display: none;
}

a {
	transition-duration: 1s;
}

a:hover {
	transform: scale(0.7);
	transition-duration: 1s;
}
